body {
  font-family: 'Segoe UI', sans-serif;
  background: #eef2f7;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: center;
  color: #333;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.btn {
  background-color: #0078D4;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #005ea2;
}
select {
  width: 15%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 10px;
}